<template name="contentHeader">
	<aside class="right-side">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				{{this.heading}}
				<small>{{this.smallHeading}}</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="{{pathFor 'postsList'}}"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="active">{{this.currentPage}}</li>
			</ol>
			<!--TODO: need to expand breadcrumb functionality -->
		</section>

		<!-- Main content -->
		<section class="content">

			<div class="box box-primary">
				<div class="box-body">
					{{> UI.contentBlock}}
				</div>
			</div>
		</section><!-- /.content -->
	</aside><!-- /.right-side -->
</template>