<template name="leftSidebar">
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="left-side sidebar-offcanvas">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- Sidebar user panel -->
			<div class="user-panel">
				<div class="pull-left image">					<!--
					{{>avatar user=this shape="circle"}}
				-->
					<img src="img/avatar3.png" class="img-circle" alt="User Image" />

				</div>
				<div class="pull-left info">
					<p>Hello, {{currentUser.profile.name}}</p>

					<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
				</div>
			</div>
			<!-- search form -->
			<form action="#" method="get" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="Search..."/>
					<span class="input-group-btn">
						<button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
			<!-- /.search form -->
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu">
				<li class="active">
					<a href="{{pathFor 'newPost'}}">
						<i class="fa fa-dashboard"></i> <span>New Post</span>
					</a>
				</li>
				<li class="active">
					<a href="{{pathFor 'blankTemplate'}}">
						<i class="fa fa-dashboard"></i> <span>Blank Template</span>
					</a>
				</li>
				{{#if admin }}
					<li>
						<a href="{{pathFor 'userList'}}">
							<i class="fa fa-th"></i> 
							<span>Admin Users</span> 
							<small class="badge pull-right bg-green">new</small>
						</a>
					</li>
				{{/if}}
				<li class="active">
					{{> atNavButton}}
				</li>	
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

</template>