<template name="userList">

	{{#contentHeader heading="Users" currentPage="Users"}}
	<ul class="todo-list">
		{{#each allusers}}
		{{> userItem}}
		{{/each}}

		{{#if nextPath}}
			<div class="callout callout-info">
				<h3>
					<a class="load-more btn-block" href="{{nextPath}}">Load more</a>				
				</h3>
			</div>
		{{/if}}
	</ul>
	{{/contentHeader}}

</template>

<template name="userItem">
	<li>
		<div class="box-row">
			<!-- todo text -->
			<span class="text userItem">
				{{profile.name}}
			</span>
			<span class="label label-success">
				{{_id}}
			</span>

			<!-- General tools such as edit or delete-->
			<div class="pull-right box-tools">

				<a class="deleteUser btn btn-primary btn-sm pull-right" style="	margin-right: 5px;">
					<i class="fa fa-trash"></i>
				</a>

			</div>
		</div>
	</li>
</template>