<template name="postsList">

	{{#contentHeader heading="Posts" currentPage="Posts"}}
		<ul class="todo-list">
			{{#each posts}}
			{{> postItem}}
			{{/each}}
		</ul>
	{{/contentHeader}}

</template>

<template name="postItem">
	<li>
		<!-- todo text -->
		<span class="text postItem">
			<a href="{{url}}">{{title}}</a>
		</span>
		<!-- General tools such as edit or delete-->
		<div class="tools">
			<a href="{{pathFor 'postPage'}}" class="viewPost"><i class="fa fa-info"></i></a>
			<i class="fa fa-edit"></i>
			<i class="fa fa-trash-o"></i>
		</div>
	</li>
</template>